body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgrey;
}

label {
    font-size: 20px;
    color: navy;
    width: 150px;
    display: inline-block;
}

h1, h3, h5 {
    color: navy;
}

.button {
    background-color: navy;
    color: white;
}