@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5";
}


<h1>Kohlton Bingham</h1> <br />

<!--image of me doing something awesome-->
<img src="img/IMG-2896.jpg" height="250" width="175" /> <br /><br />

<p>
    There are a few things I hope to be able to get out of IS 413. The first is pretty generic, but something I do hope to gain. <br />
    I hope to be able to grow my development skills. Another thing I hope to get out of this class is to learn how to
    make fully functional web apps in a new language.  <br />Lastly, I am excited to be able to learn React and see how it differs
    from other frameworks I know.
</p> <br /><br />

<h3>Top Three Careers</h3>
<ul>
    <li>Data Engineer</li>
    <li>Software Developer</li>
    <li>Information Security Engineer</li>
</ul> <br /><br />



<!--attach boostrap, jQuery, and JavaScript files-->
<script src="JS/GradeCalculation.js"></script>
